# This file specifies intentionally untracked
# files that Git should ignore.

# IDEA IDE
.idea/

# Eclipse IDE
.metadata/
.settings/
.classpath
.project
.settings
.springBeans
bin/
Servers/
RemoteSystemsTempFiles/

# Gradle
.gradle/
build/
